.formContainer {
    display: flex;
    justify-content: center;
    min-width: 50%;

    form {
        display: flex;
    }
}

.generalContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputPassword {
    border-radius: 2px;
    border: 1px solid black;

    &:focus, &:active {
        box-shadow: 0px 0px 4px 4px #659ef6;
        border: none;
        outline: none;
    }
}

.titleContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    h1 {
        font-size: 3rem;
    }
}

.visibilityButton {
    margin-left: 12px;

    span {
        font-size: 20px;
    }
}

.validationsContainer {
    min-width: 50%;
}